// Place all the styles related to the Api::Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-window {
  color: black;
  max-width: 200px;
  display: block;
}
