/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.map {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.group {
  clear: both;
  content: "";
  display: table;
}

.main-buttons-container {
  margin: 10px auto;
  min-width: 246px;
}

.main-button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2px;
  background-color: ghostwhite;
  color: black;
  border: 2px solid black;
}

.main-button:hover {
  color: rgb(238,1,123);
  cursor: pointer;
  border-color: rgb(238,1,123);
}

.secondary-color {
  background-color: black;
  border-color: white;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.list-selector {
  width: 98%;
  font-size: 1.2em;
  margin: 0 auto;
  display: block;
  color: white;
  background-color: black;
}

.login-text-input {
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(0,0,0,.8);
  color: rgb(238,1,123);
  margin-bottom: 20px;
  width: 300px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.listing-form, .list-form {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.8);
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.login-form input[type=submit] {
  margin: 5px;
  border: 1px solid ghostwhite;
  background-color: black;
  color: ghostwhite;
  padding: 5px;
  transition: color .2s ease-in-out;
}

.login-form input[type=submit]:hover {
  cursor: pointer;
  color: rgb(238,1,123);
}

#about {
  width: 800px;
  background-color: rgba(0,0,0,.8);
  padding: 10px;
  margin: auto;
}

#about p {
  margin-bottom: 10px;
}

#about h3 {
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.text-link {
  cursor: pointer;
  color: rgb(238,1,123);
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  padding: 20px;
}

@media (max-width: 800px) {

  header {
    width: 400px;
    height: 100px;
    background-size: contain;
  }

  .map {
    width: 400px;
    height: 400px;
  }

  #about {
    max-width: 350px;
  }

}
