// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: asset-data-url("city.jpg");
  background-size: cover;
  color: ghostwhite;
  font-family: 'Lato', sans-serif;
}

header {
  height: 200px;
  width: 800px;
  margin: 0 auto;
  background-image: asset-data-url('white-pink-logo.png');
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  margin-bottom: 20px;
}
